/* Proposed CSS standard */
@viewport {
	width: device-width ;
	zoom: 1.0 ;
  }

@media only screen and (min-device-width:375px) {
	#content {
		float: right ;
		width: 70% ;
	}
	#menu {
		float: left;
		width: 30%;
	}
	#contactmenu {
		float: none;
		width: 100%
	}
	#footer {
		clear:both;
		text-align:center;
		padding:1px;
		text-align:center;
		background-color:#8c0b42;
		color:white;
	}
	#education {
		clear: right;
	}
	#contact {
		float:none;
		width:100%;
	}
}

/* ----------- iPhone ----------- */

/* Mobile Phone Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
	#content {
		float: none ;
		width: 100% ;
	  }
	  #menu {
		float: none ;
		width: 100% ;
	  }
	  #contact {
		float: none;
		width: 100%;
	  }
}

/* Mobile Phone Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

	
}

@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 812px)
	and (-webkit-min-device-pixel-ration: 3)
	and (orientation: portrait) {
    .dropdown-content a {
		color: blue;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
    }
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
	background-color: #8c0b42;
}

li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color: gray;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: whitesmoke;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: #8a161b;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }

.dropdown-content a:hover {
	background-color: white;
}

.dropdown:hover .dropdown-content {
	display: block;
  }

.address table, th {
	background-color: #8c0b42;
	border: 1px;
	border-collapse: collapse;
	color: white;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

nav li > ul li {
	display: block;
}

nav  li > ul li a {
	color: white;
	display: block;
	line-height: 2em;
	padding: 0.5em 2em;
	text-decoration: none;
}

/* Change the background color when mouse over items */
nav li:hover {
	background-color: #666;
}

/* display the submenu on mouse over main menu item*/
nav li:hover > ul{
	position:absolute;
	display : block;
}