/* This takes the users current system setting for light or dark */
:root {
	color-scheme: dark light;
}

/* This is a proposed CSS standard. */
@viewport {
	width: device-width ;
	zoom: 1.0 ;
  }

  /* This looks for the device's minimum width of 375 pixels which is the iPhone's portrait width */
@media only screen and (min-device-width:375px) {
	#profile {
		float: left;
		width: 30%;
		list-style:none;
		padding:1px; 
		line-height:24px;
	}
	#content {
		float: right ;
		width: 65% ;
	}
	#menu {
		clear: both;
		width: 100%;
	}
	#contactmenu {
		float: none;
		width: 100%
	}
	#footer {
		clear:both;
		text-align:center;
		padding:1px;
		text-align:center;
		background-color:#8c0b42;
		color:white;
	}
	#education {
		clear: right;
	}
	#contact {
		float:none;
		width:100%;
	}
}

/* When the size of the screen goes below 600 pixels, stack the columns below */
@media screen and (max-width: 900px) {
	#menu {
		width: 100%;
	}
	#content {
		width: 100%;
	}
	#profile {
		width: 100%;
	}
}

/* The settings below are for iPhones */
/* Portrait orientation for iphone */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
	#profile {
		float: none;
		width: 100%;
	}
	#content {
		float: none ;
		width: 100% ;
	  }
	  #menu {
		float: none ;
		width: 100% ;
	  }
	  #contact {
		float: none;
		width: 100%;
	  }
}

/* Landscape orientation for iphone */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

	/* Not sure what is needed here in landscape orientation */

}

/* For devices larger than 375 pixels and smaller than 812 pixels */
/* Medium sized devices */
@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 812px)
	and (-webkit-min-device-pixel-ration: 3)
	and (orientation: portrait) {
    .dropdown-content a {
		color: blue;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
    }
}

/* Style for the profile's class unordered list */
#profile ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

	/* background-color:#8c0b42; */
}

/* Style for the menu class unordered list */
#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #8c0b42;
}

/* This is for general list items */
li {
	float: left;
	/* background-color: #8c0b42; */
}

/* This is for list items anchors and dropbtn class */
li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* This is for list items anchor hover and dropbtn hover style */
li a:hover, .dropdown:hover .dropbtn {
	background-color: gray;
}

/* Styling for the dropdown-content class */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: whitesmoke;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Styling for the dropdown-content anchor */
.dropdown-content a {
	color: #8a161b;
	text-decoration: none;
	display: block;
	text-align: left;
  }

  /* Styling for the dropdown-content anchor hover */
.dropdown-content a:hover {
	background-color: white;
}

/* Styling for the dropdown hover and dropdown-content */
.dropdown:hover .dropdown-content {
	display: block;
  }

  /* Styling for the address class and the table and table header underneath the address class */
.address table, th {
	background-color: #8c0b42;
	border: 1px;
	border-collapse: collapse;
	color: white;
}

/* Styling for the general table, table header, and table data */
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

/* Change the background color when mouse over top level menu items */
nav li:hover {
	background-color: #666;
}

/* display the submenu on mouse over main menu item*/
nav li:hover > ul{
	position:absolute;
	display : block;
}